.customTabItemContainer {
    // size of the button's border
    border-left: var(--spectrum-global-dimension-size-10) solid transparent;
    border-right: var(--spectrum-global-dimension-size-10) solid transparent;
}

.customTabItemName {
    color: var(--spectrum-global-color-gray-900);
}

.customTabItemMenuTrigger {
    border: none !important;

    &:hover,
    &[class*='is-selected'],
    &[class*='is-active'] {
        background-color: transparent !important;
        border: none !important;
    }
}
